<section class="intro">

<div class="container">
  <span class="big-circle"></span>

  <div class="form">
    <div class="contact-info">
      <h3 class="title">Touch Media</h3>
      <p class="text">
        Si vous avez des questions ou des requêtes, un membre du personnel sera toujours heureux de vous aider.
        N'hésitez pas à nous contacter par téléphone ou par e-mail et nous ne manquerons pas de vous répondre dans les
        plus brefs délais.
      </p>

      <div class="info">
        <div class="information">
<i class="fas fa-map-marker-alt" style="margin-top:5px"></i>
          <p style="margin-left:5px">67 Avenue des F.A.R. Casablanca 20100</p>
        </div>
        <div class="information">
<i class="fas fa-envelope" style="margin-top:5px"></i>
          <p style="margin-left:5px"> infos@touchmedia.ma</p>
        </div>
        <div class="information">
<i class="fa fa-phone" style="margin-top:5px" style="-webkit-transform: scaleX(-1)"></i>
<p style="margin-left:5px">+212 (0) 522 30 15 60 / 75</p>
        </div>
      </div>

      <div class="social-media">
        <p>Connecter avec nous :</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <form action="index.html" autocomplete="off">
        <h3 class="title">Contacter Nous</h3>
        <div class="input-container">
          <input type="text" name="name" class="input" />
          <label for="">Nom</label>
          <span>Nom</span>
        </div>
        <div class="input-container">
          <input type="email" name="email" class="input" />
          <label for="">Email</label>
          <span>Email</span>
        </div>
        <div class="input-container">
          <input type="tel" name="phone" class="input" />
          <label for="">Téléphone</label>
          <span>Téléphone</span>
        </div>
        <div class="input-container textarea">
          <textarea name="message" class="input"></textarea>
          <label for="">Message</label>
          <span>Message</span>
        </div>
        <input type="submit" value="Envoyer" class="btn" />
      </form>
    </div>
  </div>


  </div>
</section>
