<section id="intro">
  <div class="top-right-gradient"></div>
  <div class="wrapper">
    <div class="services">

      <h1>Equipe</h1>

      <div class="cen">

        <div class="service">
          <img src="../../../assets/images/team/Mohamed-M.jpg" alt="">
          <span><strong>Mohamed MEZIAN</strong><br>
            Directeur Général, Fondateur</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Mamoun-EL.jpg" alt="">
          <span><strong>Mamoun EL MACHRAFI</strong> <br> Senior Digital Manager</span>

        </div>
        <div class="service">
          <img src="../../../assets/images/team/Inaame-L.jpg" alt="">
          <span><strong>Inaame LEMKHANAT</strong> <br> Responsable département performance</span>

        </div>
        <div class="service">
          <img src="../../../assets/images/team/Lamiae-O.jpg" alt="">
          <span><strong>Lamiae O.</strong> <br> Responsable des Opérations</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Loujaine-T.jpg" alt="">
          <span><strong>Loujaine T.</strong> <br> Digital Analyst</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Wafae-T.jpg" alt="">
          <span><strong>Wafae T.</strong> <br>Chief Engineer</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Noureddine-N.jpg" alt="">
          <span><strong>Noureddine N.</strong> <br> Responsable Administratif et Financier</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Dounia-El-A.jpg" alt="">
          <span><strong>Dounia El A.</strong> <br> Social Media Manager</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Rachid-M.jpg" alt="">
          <span><strong>Mohamed R.</strong> <br> Traffic Manager Google</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Essaaidi-M.jpg" alt="">
          <span><strong>Marouane E.</strong> <br> Traffic Manager</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Younes-A.jpg" alt="">
          <span><strong>Younes A.</strong> <br> Webdesigner Senior</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Younes-B.jpg" alt="">
          <span><strong>Younes B.</strong> <br> Webdesigner Interactive</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Amine-L.jpg" alt="">
          <span><strong>Amine L.</strong> <br> Web Developer</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/El-Mehdi-A.jpg" alt="">
          <span><strong>El Mehdi A.</strong> <br> Web Developer</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Semmar-M.jpg" alt="">
          <span><strong>MARWA S.</strong> <br> Community Manager</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Soukaina-L.jpg" alt="">
          <span><strong>Soukaina L.</strong> <br> Chargée de Reporting</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Najwa-S.jpg" alt="">
          <span><strong>Najwa S.</strong> <br> Agent Pré-qualification</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Hamza-O.jpg" alt="">
          <span><strong>Hamza O.</strong> <br> Agent Pré-qualification</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Zineb-T.jpg" alt="">
          <span><strong>Zineb T.</strong> <br> Accountant</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Issam-R.jpg" alt="">
          <span><strong>Issam R.</strong> <br> Accountant</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Saloua-K.jpg" alt="">
          <span><strong>Saloua K.</strong> <br> Office Manager</span>
        </div>
        <div class="service">
          <img src="../../../assets/images/team/Mehdi-B.jpg" alt="">
          <span><strong>Mehdi B.</strong> <br> Coursier</span>
        </div>


      </div>

    </div>


    <div class="bottom-left-gradient"></div>
  </div>
</section>
