<section id="intro">
  <div class="top-right-gradient"></div>
  <div class="wrapper">
      <div class="gallery2">
        <h1>Réalisations</h1>
        <a href="../../../assets/images/gallery-1.jpg"><img src="../../../assets/images/gallery-1.jpg"></a>
        <a href="../../../assets/images/gallery-2.jpg"><img src="../../../assets/images/gallery-2.jpg"></a>
        <a href="../../../assets/images/gallery-3.jpg"><img src="../../../assets/images/gallery-3.jpg"></a>
        <a href="../../../assets/images/gallery-4.jpg"><img src="../../../assets/images/gallery-4.jpg"></a>
        <a href="../../../assets/images/gallery-5.jpg"><img src="../../../assets/images/gallery-5.jpg"></a>
        <a href="../../../assets/images/gallery-6.jpg"><img src="../../../assets/images/gallery-6.jpg"></a>
      </div>

    <div class="bottom-left-gradient"></div>
  </div>
</section>
