<section id="intro">
  <div class="top-right-gradient"></div>
  <div class="wrapper">
    <div class="gallery">
      <h1>Références</h1>
      <img src="../../../assets/images/c1.png">
      <img src="../../../assets/images/c2.png">
      <img src="../../../assets/images/c3.png">
      <img src="../../../assets/images/c4.png">
      <img src="../../../assets/images/c5.png">
      <img src="../../../assets/images/c6.png">
      <img src="../../../assets/images/c7.png">
      <img src="../../../assets/images/c8.png">
      <img src="../../../assets/images/c9.png">
      <img src="../../../assets/images/c10.png">
      <img src="../../../assets/images/c11.png">
      <img src="../../../assets/images/c12.png">
      <img src="../../../assets/images/c13.png">
      <img src="../../../assets/images/c14.png">
      <img src="../../../assets/images/c15.png">
      <img src="../../../assets/images/c16.png">
      <img src="../../../assets/images/c17.png">
      <img src="../../../assets/images/c18.png">
      <img src="../../../assets/images/c19.png">
      <img src="../../../assets/images/c20.png">
      <img src="../../../assets/images/c21.png">
      <img src="../../../assets/images/c22.png">
      <img src="../../../assets/images/c23.png">
      <img src="../../../assets/images/c24.png">
      <img src="../../../assets/images/c25.png">
      <img src="../../../assets/images/c26.png">
      <img src="../../../assets/images/c27.png">
      <img src="../../../assets/images/c28.png">
      <img src="../../../assets/images/c29.png">
      <img src="../../../assets/images/c30.png">
      <img src="../../../assets/images/c31.png">
      <img src="../../../assets/images/c32.png">
      <img src="../../../assets/images/c33.png">
      <img src="../../../assets/images/c34.png">
      <img src="../../../assets/images/c35.png">
      <img src="../../../assets/images/c36.png">
      <img src="../../../assets/images/c37.png">
      <img src="../../../assets/images/c38.png">
      <img src="../../../assets/images/c39.png">
      <img src="../../../assets/images/c40.png">
      <img src="../../../assets/images/c41.png">
      <img src="../../../assets/images/c42.png">
    </div>


    <div class="bottom-left-gradient"></div>
  </div>
</section>
