<section id="intro">
  <div class="top-right-gradient"></div>
  <div class="wrapper">
    <div class="services">

      <h1>Services</h1>

      <div class="cen">

        <div class="service">

          <i class="fas fa-digital-tachograph"></i>

          <h2>Achat média digital</h2>

          <p>Notre équipe de consultants média digital préconise des médiaplans en adaptation avec les objectifs de nos
            clients, contenant des analyses prédictives de performances de la campagne.</p>

        </div>

        <div class="service">

          <i class="fas fa-chart-bar"></i>

          <h2>Trading Desk</h2>

          <p>Les services de gestion de campagnes sur RTB, Google Adwords et Facebook/Instagram, sont gérés par notre
            équipe d'experts certifiés Adwords et Doubleclick.</p>

        </div>

        <div class="service">

          <i class="fas fa-lightbulb"></i>

          <h2>Conception digitale</h2>

          <p>Nous produisons chaque année des milliers de bannières pour nos clients. Notre studio digital permet de
            réaliser des visuels réussis, des bannières rich-media avancées, et des sites et landing pages responsive
            dotées d'une UX ergonomique.</p>

        </div>

        <div class="service">

          <i class="fas fa-users"></i>

          <h2>Community management</h2>

          <p>Notre équipe de social media managers accompagne nos clients dans la réalisation et l'exécution de leurs
            stratégies de communication sur les réseaux sociaux.</p>

        </div>

        <div class="service">

          <i class="fas fa-bullhorn"></i>

          <h2>E-Reputation</h2>

          <p>Nous proposons la configuration de stratégies de suivi et de veille E-Reputation avec la technologie
            Brandwatch.</p>

        </div>

        <div class="service">

          <i class="fas fa-award"></i>

          <h2>Qualification de leads</h2>

          <p>Notre service de préqualification de leads permet à nos clients de ne recevoir que des leads qualifiés,
            traités dans un délai réduit.</p>

        </div>

      </div>

    </div>


    <div class="bottom-left-gradient"></div>
  </div>
</section>
