<!-- INTRO PAGE -->


<section id="intro">
  <div class="top-right-gradient"></div>
  <div class="wrapper">
    <div class="intro-left">
      <h1>L'agence média digitale spécialisée</h1>
      <p>
        Notre mission est d'apporter des solutions pertinentes et efficaces aux problématiques de nos clients.

      </p>
      <a href="#" class="intro-cta">
        En Savoir Plus
      </a>
    </div>
    <div class="intro-right">
      <!-- Insert Image here -->
      <img src="../../../assets/images/webdesign-banner-1.png" alt="image">
    </div>
  </div>
  <div class="bottom-left-gradient"></div>
</section>

<!-- Intro Page END -->


<!-- About Page Start -->

<section id="about">
  <div class="wrapper">
    <div class="about-left">
      <img src="../../../assets/images/undraw_report_mx0a.svg" alt="img">
    </div>

    <div class="about-right">
      <h1>Présentation de l'entreprise</h1>
      <p>
        Fondée en 2009, TOUCH MEDIA s'est rapidement imposée en tant qu'acteur majeur dans le secteur de la
        communication en ligne au Maroc.<br>
        Nous apportons une expertise confirmée, et des technologies exclusives.<br>
        Nous sommes une équipe d'experts passionnés par la performance et l'innovation.<br> Nous accompagnons depuis
        10 ans les grandes marques marocaines dans le déploiement de leurs dispositifs de communication sur internet.
      </p>

    </div>
  </div>

  <div class="top-right-gradient"></div>
</section>
